<div class="sidebar">
    <div class="navbar-left">
        <nav class="navbar navbar-default">
            <!-- Collect the nav links, forms, and other content for toggling -->
                <ul class="nav nav-tabs nav-stacked">
                    <li><a href="{{ path('userpanel_show') }}">Bilgilerim</a></li>
                    <li><a href="{{ path('userpanel_edit') }}">Düzenle</a></li>
                    <li><a href="{{ path('orders_index') }}">Siparişlerim</a></li>
                    <li><a href="{{ path('shopcart_index') }}">Sepetim</a></li>
                    <li><a href="{{ path('app_logout') }}">Çıkış</a></li>
                </ul>
            <br><br>
        </nav>
    </div>
</div>
