{% extends 'adminbase.html.twig' %}

     {% block title %} Order Details {% endblock %}
     {% block content %}
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">Order Details</h4> </div>
            <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">

                <ol class="breadcrumb">
                    <li><a href="#">Dashboard</a></li>
                    <li class="active">Order Details</li>
                </ol>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /row -->
        <div class="row">
            <div class="col-sm-12">
                <div class="white-box">
                    <h3 class="box-title">Order Details</h3>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tbody>
                            <tr>
                                <th>Id</th>
                                <td>{{ orders.id }}</td>
                            </tr>
                            <tr>
                                <th>Userid</th>
                                <td>{{ orders.userid }}</td>
                            </tr>
                            <tr>
                                <th>Amount</th>
                                <td>{{ orders.amount }}</td>
                            </tr>
                            <tr>
                                <th>Name</th>
                                <td>{{ orders.name }}</td>
                            </tr>
                            <tr>
                                <th>Address</th>
                                <td>{{ orders.address }}</td>
                            </tr>
                            <tr>
                                <th>City</th>
                                <td>{{ orders.city }}</td>
                            </tr>
                            <tr>
                                <th>Phone</th>
                                <td>{{ orders.phone }}</td>
                            </tr>
                            <tr>
                                <th>Shipinfo</th>
                                <td>{{ orders.shipinfo }}</td>
                            </tr>
                            <tr>
                                <th>Status</th>
                                <td>{{ orders.status }}</td>
                            </tr>
                            <tr>
                                <th>Note</th>
                                <td>{{ orders.note }}</td>
                            </tr>
                            <form action="{{ path('admin_orders_update',{'id': orders.id}) }}" method="post">
                                <tr>
                                    <th>Ship Info</th>
                                    <td><textarea name="shipinfo" cols="100" rows="3">{{ orders.shipinfo }}</textarea> </td>
                                </tr>
                                <tr>
                                    <th>Admin Note</th>
                                    <td><textarea name="note" cols="100" rows="3">{{ orders.note }}</textarea> </td>
                                </tr>

                                <tr>
                                    <th>Status</th>
                                    <td><select name="status">
                                            <option>{{ orders.status }}</option>
                                            <option>Accepted</option>
                                            <option>Inshipping</option>
                                            <option>Canceled</option>
                                            <option>Completed</option>
                                        </select>

                                        <input type="submit"value="Submit">

                                    </td>
                                </tr>
                            </form>
                            </tbody>
                        </table>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Product Name</th>
                                <th>Sale Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% set total = 0 %}
                            {% for rs in orderdetail %}
                                <tr>
                                    <td>{{ rs.id }}</td>
                                    <td>{{ rs.name }}</td>
                                    <td>{{ rs.price }}</td>
                                    <td>{{ rs.quantity }}</td>
                                    <td>{{ rs.amount }}</td>
                                    <td>{{ rs.status }}</td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="5">Order Detail</td>
                                </tr>
                            {% endfor %}

                            </tbody>

                        </table>

                        {% endblock %}
